// map container
#map {
  height: 250px;
}

// map marker
.circle-solid {
  height: 5px;
  width: 5px;
}

// sticky header
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + main {
  padding-top: 102px;
}

// icon hover
.middle-nav {
  a:hover {
    .blue-icon::before {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}

// footer icons
.grey-icon {
  &:hover::before {
    color: darkgrey;
  }
}

// btn radius override
.btn {
  border-radius: 0;
}

//.fc-body .fc-row { min-height: 45px;

.about-bottom {
  div {
    min-height: 200px;
  }
}

.activities {
  div {
    min-height: 150px;
  }
}

.contact-card {
  min-height: 200px;
}

.container-member-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 125px;
}

.member-section-stripe {
  padding-left: 5px;
  padding-right: 5px;
}

// Disable Google Map bottom links, thanks SO
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}

.middle-swiper {
  .year {
    padding: 1rem .5rem;
  }
  li {
    padding: 1rem .2rem;
  }
}


