@import "variables";

body {
  font-family: $font-family__body;
}

header, footer {
  font-size: $font-size__small;

  .footer-title {
    font-size: $font-size__medium;
  }

  .lang {
    .btn {
      font-size: $font-size__medium;
    }
  }
}

.end-swiper {
  .swiper-slide {
    font-size: $font-size__small;
    padding: 0 1.75rem;
  }
}

.middle-swiper {
  font-size: $font-size__medium;
  font-weight: 400;
}

.container-end-swiper {
  .p-lg-5 {
    padding: 3rem 5.5rem !important;
  }
}

.container-stripe-bottom {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  @media (min-width: 992px) {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}

.contacts-managers {
  font-size: $font-size__small;
  .font-weight-bold {
    font-size: $font-size__medium;
  }
}

.mission-vision, .about-bottom {
  font-size: $font-size__small;
}

.middle-block {
  margin-left: 1.85rem;
  margin-right: 1.85rem;
}

.contact-card, .activities-main-article {
  font-size: $font-size__small;

  .name {
    text-transform: uppercase;
  }
}

.activities-main-article {
  li {
    margin: 1rem 0;
  }
}

.member-section {
  article {
    font-size: $font-size__small;
  }
}

.underline {
  text-decoration: underline;
}

.about-bottom.activities {
  font-weight: 700;
  font-size: 18px;
}




